* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid black;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    overflow: hidden;
}

.container p {
    margin-top: 30px;
    text-align: end;
}

.header {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-left-section {
    border-radius: 50%;
    overflow: hidden;
}

img {
    height: 300px;
    width: 320px;
}
.header-right-section h1 {
    font-size: 70px;
    font-weight: bold;
    color: #1d1e4c;
}

.header-right-section p {
    font-size: 30px;
    text-align: end;
    font-weight: bold;
}

/* hero section */
.hero-section {
    margin-top: 100px;
}

.hero-section h1 {
    font-size: 40px;
}

.hero-section p {
    margin-top: 20px;
    font-size: 19px;
}

.hero-section p span {
    font-weight: bold;
}

/* biographies section */

.biographies {
    margin-top: 100px;
}

.biographies div ul li{
    list-style: circle;
}